@charset "UTF-8";
/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/*
===============
Variables
===============
*/
/* dark shades of primary color*/
/* darkest grey - used for headings */
/* box shadow */
/* ancho */
/* responsive design */
.card {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.05); }

.container {
  max-width: 90%;
  width: 1200px;
  margin: 20px auto;
  overflow: hidden; }

.container-ancho {
  width: 100%;
  padding: 0 40px;
  margin: 20px auto; }

.btn {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  /* font-weight: 700; */
  transition: all 0.3s linear;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.btn-primary {
  background: #f02e5e;
  color: #ffffff; }

.btn-primary:hover {
  color: #fceef1;
  background: #601226; }

/* ====================
	* GRID *
==================== */
.grid {
  display: grid;
  gap: 20px; }

/* Tamaño Grande - Computadoras y TV */
.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.span-1 {
  grid-column: span 1; }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.span-2 {
  grid-column: span 2; }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.span-3 {
  grid-column: span 3; }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.span-4 {
  grid-column: span 4; }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.span-5 {
  grid-column: span 5; }

.col-6 {
  grid-template-columns: repeat(6, 1fr); }

.span-6 {
  grid-column: span 6; }

.col-7 {
  grid-template-columns: repeat(7, 1fr); }

.span-7 {
  grid-column: span 7; }

.col-8 {
  grid-template-columns: repeat(8, 1fr); }

.span-8 {
  grid-column: span 8; }

.col-9 {
  grid-template-columns: repeat(9, 1fr); }

.span-9 {
  grid-column: span 9; }

.col-10 {
  grid-template-columns: repeat(10, 1fr); }

.span-10 {
  grid-column: span 10; }

.col-11 {
  grid-template-columns: repeat(11, 1fr); }

.span-11 {
  grid-column: span 11; }

.col-12 {
  grid-template-columns: repeat(12, 1fr); }

.span-12 {
  grid-column: span 12; }

@media screen and (min-width: 768px) {
  .md\:col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .md\:col-2 {
    grid-template-columns: repeat(2, 1fr); }

  .md\:col-3 {
    grid-template-columns: repeat(3, 1fr); }

  .md\:col-4 {
    grid-template-columns: repeat(4, 1fr); }

  .md\:col-5 {
    grid-template-columns: repeat(5, 1fr); }

  .md\:col-6 {
    grid-template-columns: repeat(6, 1fr); }

  .md\:col-7 {
    grid-template-columns: repeat(7, 1fr); }

  .md\:col-8 {
    grid-template-columns: repeat(8, 1fr); }

  .md\:col-9 {
    grid-template-columns: repeat(9, 1fr); }

  .md\:col-10 {
    grid-template-columns: repeat(10, 1fr); }

  .md\:col-11 {
    grid-template-columns: repeat(11, 1fr); }

  .md\:col-12 {
    grid-template-columns: repeat(12, 1fr); } }
@media screen and (min-width: 1024px) {
  .lg\:col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .lg\:col-2 {
    grid-template-columns: repeat(2, 1fr); }

  .lg\:col-3 {
    grid-template-columns: repeat(3, 1fr); }

  .lg\:col-4 {
    grid-template-columns: repeat(4, 1fr); }

  .lg\:col-5 {
    grid-template-columns: repeat(5, 1fr); }

  .lg\:col-6 {
    grid-template-columns: repeat(6, 1fr); }

  .lg\:col-7 {
    grid-template-columns: repeat(7, 1fr); }

  .lg\:col-8 {
    grid-template-columns: repeat(8, 1fr); }

  .lg\:col-9 {
    grid-template-columns: repeat(9, 1fr); }

  .lg\:col-10 {
    grid-template-columns: repeat(10, 1fr); }

  .lg\:col-11 {
    grid-template-columns: repeat(11, 1fr); }

  .lg\:col-12 {
    grid-template-columns: repeat(12, 1fr); } }
@media screen and (min-width: 1280px) {
  .xl\:col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .xl\:col-2 {
    grid-template-columns: repeat(2, 1fr); }

  .xl\:col-3 {
    grid-template-columns: repeat(3, 1fr); }

  .xl\:col-4 {
    grid-template-columns: repeat(4, 1fr); }

  .xl\:col-5 {
    grid-template-columns: repeat(5, 1fr); }

  .xl\:col-6 {
    grid-template-columns: repeat(6, 1fr); }

  .xl\:col-7 {
    grid-template-columns: repeat(7, 1fr); }

  .xl\:col-8 {
    grid-template-columns: repeat(8, 1fr); }

  .xl\:col-9 {
    grid-template-columns: repeat(9, 1fr); }

  .xl\:col-10 {
    grid-template-columns: repeat(10, 1fr); }

  .xl\:col-11 {
    grid-template-columns: repeat(11, 1fr); }

  .xl\:col-12 {
    grid-template-columns: repeat(12, 1fr); } }
*,
::after,
::before {
  box-sizing: border-box; }

/*
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #334155;
  line-height: 1.5;
  font-size: 0.875rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img:not(.nav-logo) {
  width: 100%;
  display: block; }

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 0.875rem; }

p {
  color: #64748b; }

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem !important; }

  h2 {
    font-size: 2.5rem; }

  h3 {
    font-size: 1.75rem; }

  h4 {
    font-size: 1rem; }

  body {
    font-size: 1rem; }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1; } }
/*  global classes */
.section {
  padding: 1rem 0;
  background: red; }
  @media screen and (min-width: 900px) {
    .section {
      padding: 5rem 0; } }

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (min-width: 992px) {
    .section-center .section-center {
      width: 95vw; } }

/*
===============
underline
===============
*/
.underline {
  width: 5rem;
  height: .25rem;
  margin-bottom: 1.25rem;
  background: #f02e5e;
  margin-right: auto;
  margin-left: auto; }

/*
===============
Lines
===============
*/
.line-red {
  border: 1px solid red; }

.line-green {
  border: 1px solid green; }
