h1,
h2,
h3,
h4 {
  letter-spacing: $--spacing-1;
  line-height: 1.25;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: $--grey-500;
}
